body {   
	margin: 0;
	padding: 0;
	background: url(../img/background.jpg) center center no-repeat fixed #464646;
	background-size: cover;
	color: #FFF;
	font-family: Arial;
	
 }
 .main {
 	margin: 0 100px;
 	border: 5px solid green;
 }

 .top_info {
 	position: relative;
 	height: 205px;
	}
img {
	position: absolute;
}
.top_info_slogan, .contacts {
	position: absolute;
	font-size: 11px;
	font-weight: 600;
}

.top_info_slogan {
	top: 176px;
	left: 150px;
}

.contacts {
	top: 140px;
	right: 200px;
	/*border: 1px solid;*/
}
.contacts p {
	padding: 0;
	margin: 3px 0;
}

